.display {
  margin-block: 50px; 
  margin-inline: auto;
  width: 800px;
}

ul {
  list-style: none;
  text-align: center;
  font-weight: bolder;
  display: flex;
  flex-flow: wrap;
  gap: 20px;
  width: 1100px;
  margin-inline: auto;
}

ul li {
  cursor: pointer;
}

ul li:hover {
  background-color: purple;
  color: white;
}

ul img {
  height: 200px;
  weight: 200px;
}